.chipContainer {
  background-color: #97def7;
  display: flex;
  align-items: center;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
} 

.chip {
  background-color: #97def7;
  white-space: nowrap;
  color: #0e0ca8;
  font-weight: bold;
  margin-right: 4px;
}

.deleteButton {
  background-color: transparent;
  color: #9e9dc9;
  border: none;
  position: relative;
  height: 20px;
  width: 20px;
}

.deleteButton:before, .deleteButton:after {
  position: absolute;
  top: 2px;
  right: 10px;
  content: ' ';
  height: 16px;
  width: 3px;
  background-color:#3c77d6;
  cursor: pointer;
}
.deleteButton:before {
  transform: rotate(45deg);
}
.deleteButton:after {
  transform: rotate(-45deg);
}